.cards-frame {
  max-width: 64.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(249.5px, 1fr));
  gap: 12px;
  width: 100%;
  justify-content: start;
  margin-bottom: 24px;
  padding-bottom: 24px; // Add some bottom padding for better scrolling
  
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
// Media queries for responsiveness
@media (max-width: 1120px) {
  .cards-frame {
    grid-template-columns: repeat(3, 1fr);
    max-width: 816px; // 3 * 249.5px + 2 * 24px
  }
}

@media (max-width: 840px) {
  .cards-frame {
    grid-template-columns: repeat(2, 1fr);
    max-width: 544px; // 2 * 249.5px + 1 * 24px
  }
}

@media (max-width: 568px) {
  .cards-frame {
    grid-template-columns: 1fr;
    max-width: 272px; // 1 * 249.5px + some padding
  }
}

