.header1 {
  border-bottom: 1px solid var(--Dark-Primary-Buttons-Gray-Colors-Gray-20, #D8DAE5);
  background: var(--Dark-Primary-Buttons-Gray-Colors-White, #FFF);

  


  &__container {
    width: 100%;
    max-width: 1038px;
    display: flex;
    align-items: center;
    padding: 19px 30px;
    height: auto 80px;
  }

  &__title {
    color: #142452;
    margin-left: 55px;
    font-family: Cairo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    flex: 1;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 40px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;

    // Profile dropdown styles
    &.profile-dropdown {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #142452;
      font-size: 14px;
      font-weight: 600;
      position: relative; // Added for dropdown positioning

      .profile-dropdown__icon {
        width: 40px;
        height: 40px;
        background-color: #ebecf2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: #142452; // Color for the profile icon
        }
      }

      .profile-dropdown__name {
        font-family: Cairo, sans-serif;
      }

      .toggle-icon {
        background: none; // Remove background for the toggle icon
        border-radius: 0; // Remove circular shape
        width: auto; // Reset width
        height: auto; // Reset height
        margin-top: 10px;
      }

      &:hover {
        .profile-dropdown__icon {
          background-color: #e5e7eb;
        }
      }

      .profile-dropdown__menu {
        position: absolute;
        top: 100%; // Position below the profile button
        right: 0;
        background-color: #ffffff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        min-width: 150px;
        margin-top: 8px;

        .profile-dropdown__option {
          padding: 0.75rem 1rem;
          cursor: pointer;
          font-family: Cairo, sans-serif;
          font-size: 14px;
          color: #142452;

          &:hover {
            background-color: #f3f4f6;
          }
        }
      }
    }
  }
}