@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

.app {
  display: flex;
  min-height: 100vh;
  font-family: 'cairo';
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f3f4f6;
  transition: margin-left 0.3s ease;

  &.shifted {
    margin-left: 320px; // Width of the submenu
  }
}

.landing-page {
  &__content-wrapper {
    max-width: 1088px; // Match the cards-frame and tools-bar max-width
    margin: 0; // Remove auto margin
    padding: 0 24px; // Add padding to align with the card grid
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px); // Adjust based on your header height
  }
}

// Import other component-specific styles
@import './Header_style.scss';
@import './ToolsBar_style.scss';
@import './Cards-frame_style.scss';
@import './Cards.scss';
@import './Pagination_style.scss';

// Add media queries for responsiveness
@media (max-width: 1120px) {
  .landing-page__content-wrapper {
    max-width: 816px;
  }
}

@media (max-width: 840px) {
  .landing-page__content-wrapper {
    max-width: 544px;
  }
}

@media (max-width: 568px) {
  .landing-page__content-wrapper {
    max-width: 272px;
  }
}

