.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--Dark-Primary-Buttons-White, #FFF);
  border: 1px solid var(--Gray-Colors-Gray-10, #EBECF2);
  border-radius: 8px;
  margin: 24px 0;
  max-width: 63.175rem;

  &__info {
    font-size: 0.875rem;
    color: #6b7280;
  }

  &__controls {
    display: flex;
    gap: 0.25rem;
  }

  &__button {
    width: 32px;
    height: 34px;
    background: none;
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover:not(:disabled) {

      background-color: #f3f4f6;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__page {
    background: none;
    border: 1px solid #e5e7eb;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover:not(.active) {
      background-color: #f3f4f6;
    }

    &.active {
      background-color: #2C4FA4;
      color: #fff;
    }
  }
}