.upper-frame {
    margin-top: 19px;
    height: 137px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    margin-bottom: 24px;
  }
  
  